name: Build and Deploy React App
on:
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código fuente
        uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: '18.16.0'
      - name: Instalar dependencias
        run: npm install
      - name: Instalar Node.js y Vite
        run: |
          npm install -g vite
        if: success()
      - name: Construir la aplicación
        run: npm run build
      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          password: ${{ secrets.PASSWORD }}
          local-dir: './dist/'
          server-dir: '/'
          protocol: 'ftp'
